@charset "utf-8";

/*--------------------
  layout
--------------------*/
/* wrapper */
.wrapper {
  width: 100%;
  overflow: hidden;
}
/* inner */
.inner {
  @include inner();
}
/* header */
.header {
  position: relative;
  height: 100dvh;
  overflow: hidden;
}
/* main */
.main {
  overflow: hidden;
}
/* footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.section {
  min-height: 100dvh;
}