@charset "UTF-8";

/*--------------------
  layout
--------------------*/
/* first view */
.mv {
  width: 100%;
  height: 100%;
  animation: parallax-move linear both;
  animation-timeline: scroll(root block);
  picture {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@keyframes parallax-move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(300%);
  }
}
.title {
  position: absolute;
  z-index: 1;
  @include winSizeS {
    left: 50%;
    bottom: 5vh;
    width: 90vw;
    transform: translateX(-50%);
  }
  @include winSizeM {
    right: 3%;
    bottom: 3%;
    width: 57%;
  }
  img {
    width: 100%;
  }
}
.description {
  position: absolute;
  z-index: 1;
  font-family: $fontFamilySerif;
  text-shadow: 4px 4px 10px rgba($color: $black, $alpha: 0.4);
  line-height: $titleLineHeight;
  @include winSizeS {
    width: 90vw;
    left: 50%;
    top: 7vh;
    transform: translateX(-50%);
  }
  @include winSizeM {
    left: 50%;
    top: 20%;
  }
}
.description__txt {
  @include winSizeS {
    font-size: clamp(1.5rem, 10vw, 3.5rem);
  }
  @include winSizeM {
    font-size: clamp(2rem, 5vw, 5rem);
  }
}
.description__info {
  margin-top: 1em;
  line-height: 1.5;
  letter-spacing: 0.05em;
  @include winSizeS {
    font-size: clamp(0.6rem, 10vw, 1.5rem);
  }
  @include winSizeM {
    font-size: clamp(1rem, 2vw, 2rem);
  }
}

/* story */
.sec-story {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  @include winSizeM {
    background-image: url(../img/bg_story.png);
  }
  @include winSizeS {
    background-image: url(../img/bg_story_sp.png);
  }
}
.sec-story__inner {
  @include winSizeM {
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 1040px;
  }
  @include winSizeS {
    padding: 10vw;
  }
}
.sec-story__title {
  text-align: center;
  @include winSizeM {
    flex: 1;
  }
  @include winSizeS {
    padding-block: 1.5em;
  }
}
.sec-story__txt {
  letter-spacing: 0.05em;
  line-height: $lineHeight;
  @include winSizeM {
    flex: 1;
    padding-inline: 2rem;
  }
  > p:not(:last-child) {
    margin-bottom: 1em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes slideInName {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  80% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInChar {
  0% {
    left: -5%;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
    left: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.sec-character {
  position: relative;
  @include winSizeS {
    padding-bottom: 25vw;
  }
}
.sec-character__title {
  @include winSizeM {
    position: absolute;
    left: 50%;
    top: 10%;
  }
  @include winSizeS {
    padding: 0.5em;
    text-align: center;
  }
}
#character-list {
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bottom: 10%;
  --swiper-pagination-color: #{$accentColor2};
  --swiper-pagination-bullet-inactive-color: #{$accentColor1};
  --swiper-pagination-bullet-width: 100px;
  --swiper-pagination-bullet-height: 100px;
  @include winSizeS {
    --swiper-pagination-bullet-width: 20vw;
    --swiper-pagination-bullet-height: 20vw;
    --swiper-pagination-top: auto;
    --swiper-pagination-bottom: 4vw;
  }
  .character__thumbs {
    width: auto;
    z-index: 1;
    @include winSizeM {
      position: absolute;
      left: 50%;
    }
    @include winSizeS {
      position: absolute;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
    }
  }
  .character__thumb {
    position: relative;
    padding: 3px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    max-width: 100px;
    max-height: 100px;
    transition: all 0.3s;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      height: 100%;
      background-color: rgba($color: $black, $alpha: 0.5);
      transition: all 0.3s;
    }
    &.swiper-pagination-bullet-active {
      &::after {
        opacity: 0;
      }
    }
    &:hover {
      background-color: $accentColor2;
      &::after {
        opacity: 0;
      }
    }
  }
  .character__thumb-img {
    width: 100%;
    background-color: $baseColor;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}
.character__box {
  overflow: hidden;
  visibility: hidden;
  &.swiper-slide-active {
    visibility: visible;
  }
}
.character__img {
  position: relative;
  left: -5%;
  opacity: 0;
  overflow: hidden;
  @include winSizeM {
    width: 65%;
    height: 100dvh;
  }
  @include winSizeS {
  }
  .swiper-slide-active.is-inView & {
    animation: slideInChar 1s ease-out 0s 1 normal forwards;
  }
  picture {
    width: 100%;
    @include winSizeM {
      height: 105dvh;
    }
  }
  img {
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    @include winSizeM {
      height: 100%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #341506;
    background: linear-gradient(
      0deg,
      rgba(52, 21, 6, 1) 0,
      rgba(52, 21, 6, 0) 70%
    );
  }
}
.character__shadow {
  position: absolute;
  opacity: 0;
  width: 100%;
  @include winSizeM {
    top: 15%;
    left: 1%;
  }
  @include winSizeS {
    top: 2%;
    left: 3%;
  }
  .swiper-slide-active & {
    animation: fadeIn2 1s ease-out 1s 1 normal forwards;
  }
  picture {
    width: 100%;
  }
  img {
    transition: transform 0.3s ease-out;
  }
}
.character__pic {
  position: relative;
  picture {
    animation: parallax-move3 linear both;
    animation-timeline: scroll(root block);
    transition: all 0.4s;
  }
}
@keyframes parallax-move3 {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(-50%);
  }
}
@include winSizeS {
  @keyframes parallax-move3 {
    from {
      transform: translateY(20%);
    }
    to {
      transform: translateY(-15%);
    }
  }
}
.character__name {
  opacity: 0;
  @include winSizeM {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: auto;
    height: 10vw;
  }
  @include winSizeS {
    display: block;
    width: 100%;
    height: 15vw;
    text-align: center;
  }
  .swiper-slide-active & {
    animation: slideInName 0.5s ease-out 0.3s 1 normal forwards;
  }
  img {
    position: relative;
    display: inline-block;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-out;
    @include winSizeS {
      top: -15vw;
    }
  }
}
.character__profile {
  opacity: 0;
  transition: transform 0.3s ease-out;
  @include winSizeM {
    position: absolute;
    left: 50%;
    top: calc(10% + 7rem);
    width: 35%;
  }
  @include winSizeS {
    margin-top: -10vw;
    padding: 0 10vw 4vw;
  }
  .swiper-slide-active & {
    animation: fadeIn 0.5s ease-in 0.8s 1 normal forwards;
  }
}
.character__txtName {
  display: inline-block;
  position: relative;
  padding-left: 1.3em;
  margin-bottom: 3rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 300;
  background-image: url(../img/icon_spade.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  &::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $accentColor2;
  }
}
.character__vo {
  font-size: 60%;
}
.character__text {
  position: relative;
  margin-bottom: 1rem;
  > p {
    letter-spacing: 0.05em;
    line-height: $lineHeight;
    &:not(:last-child) {
      margin-bottom: 0.8em;
    }
  }
}
.character__music {
  position: relative;
  padding-left: 1.8em;
  cursor: pointer;
  line-height: 1.5;
  white-space: nowrap;
  transition: color 0.3s;
  &::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: 0;
    left: 0;
    background-color: $textColor;
    mask-image: url(../img/icon_play.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    transition: background-color 0.3s;
  }
  &:hover {
    color: $accentColor1;
    &::before {
      background-color: $accentColor1;
    }
  }
  &.is-playing {
    animation: textBlink 1s linear 0s alternate infinite;
  }
}
@keyframes textBlink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* Trailer */
.sec-trailer {
  position: relative;
  background-image: url(../img/bg_trailer.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.sec-trailer__title {
  position: absolute;
  justify-self: center;
  inset: 0;
  @include winSizeM {
    top: calc(50% - 14vw - 2em);
  }
  @include winSizeS {
    top: calc(50% - 22.5vw - 2em);
  }
}
.movie {
  position: absolute;
  place-self: center;
  inset: 0;
  aspect-ratio: 16 / 9;
  border: 1px solid $accentColor1;
  padding: 2px;
  @include winSizeS {
    width: 80vw;
  }
  @include winSizeM {
    width: 50vw;
  }
}
.movie__item {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Gallery */
.sec-gallery {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.gallery__bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  opacity: 0.6;
  animation: parallax-move2 linear both;
  animation-timeline: scroll(root block);
  @include winLandscape {
    background-image: url(../img/bg_gallery.png);
  }
  @include winPortrait {
    background-image: url(../img/bg_gallery_sp.png);
  }
}
@keyframes parallax-move2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(30%);
  }
}
.sec-gallery__title {
  position: absolute;
  justify-self: center;
  inset: 0;
  @include winSizeM {
    top: calc(50% - 17.5vw - 2em);
  }
  @include winSizeS {
    top: calc(50% - 22.5vw - 2em);
  }
}
#gallery-main {
  --swiper-navigation-sides-offset: -50px;
  .swiper-navigation-icon {
    display: none;
  }
  @include winSizeS {
    --swiper-navigation-size: 8vw;
    --swiper-navigation-sides-offset: -9vw;
  }
}
.gallery {
  position: absolute;
  place-self: center;
  inset: 0;
  border: 1px solid $accentColor1;
  padding: 2px;
  @include winSizeM {
    width: 62.5%;
  }
  @include winSizeS {
    width: 80%;
  }
}
.gallery__item {
  position: relative;
}
.gallery__img {
  @include objectFit;
}
.gallery__button {
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
  &::before,
  &::after {
    display: none;
  }
}
.gallery__button--next,
.gallery__button--prev {
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
.gallery__button--next {
  background-image: url(../img/arw_next.svg);
}
.gallery__button--prev {
  background-image: url(../img/arw_prev.svg);
}

.galleryThumbsWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  @include winSizeS {
    bottom: auto;
    top: calc(50% + 35vw);
  }
}
.galleryThumbs__item {
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $accentColor1;
    mix-blend-mode: color;
    z-index: 1;
    transition: all 0.3s;
  }
  &.swiper-slide-thumb-active {
    &::after {
      opacity: 0;
    }
  }
}
.galleryThumbs__img {
  @include objectFit;
}
/* credits */
.sec-credits {
  position: relative;
  background-image: url(../img/bg_others.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-credits__inner {
  place-self: center;
  @include winSizeM {
    position: absolute;
    inset: 0;
  }
  @include winSizeS {
    padding: 10vw 4vw;
  }
}
.sec-credits__title {
  margin-bottom: 1em;
  text-align: center;
}
.credits {
  @include winSizeM {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.credits__box {
  margin-bottom: 3em;
  &:last-child {
    @include winSizeM {
      grid-column: span 2;
      text-align: center;
    }
  }
}
.credits__titleS {
  margin-bottom: 0.3em;
  font-size: 2rem;
  font-weight: 300;
  line-height: $titleLineHeight;
  letter-spacing: $titleLetterSpacing;
}
.credits__items,
.credits__items {
  letter-spacing: $titleLetterSpacing;
}
.credits__row {
  display: flex;
}
.credits__position {
  position: relative;
  width: 7em;
  &::after {
    content: '：';
    position: absolute;
    top: auto;
    right: 0;
  }
}
.credits__name {
  padding-left: 0.5em;
}
