@charset "UTF-8";

/*--------------------
  layout
--------------------*/
/* first view */
.mv {
  width: 100%;
  height: 100%;
  animation: parallax-move linear both;
  animation-timeline: scroll(root block);
  picture {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@keyframes parallax-move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  } /* 前景より遅く動かして視差を作る */
}
.title {
  position: absolute;
  z-index: 1;
  @include winSizeS {
    left: 50%;
    bottom: 5vh;
    width: 90vw;
    transform: translateX(-50%);
  }
  @include winSizeM {
    right: 3%;
    bottom: 3%;
    width: 57%;
  }
  img {
    width: 100%;
  }
}
.description {
  position: absolute;
  z-index: 1;
  font-family: $fontFamilySerif;
  text-shadow: 4px 4px 10px rgba($color: $black, $alpha: 0.4);
  line-height: $titleLineHeight;
  @include winSizeS {
    width: 90vw;
    left: 50%;
    top: 7vh;
    transform: translateX(-50%);
  }
  @include winSizeM {
    left: 50%;
    top: 20%;
  }
}
.description__txt {
  @include winSizeS {
    font-size: clamp(1.5rem, 10vw, 3.5rem);
  }
  @include winSizeM {
    font-size: clamp(2rem, 5vw, 5rem);
  }
}
.description__info {
  margin-top: 1em;
  line-height: 1.5;
  letter-spacing: 0.05em;
  @include winSizeS {
    font-size: clamp(0.6rem, 10vw, 1.5rem);
  }
  @include winSizeM {
    font-size: clamp(1rem, 2vw, 2rem);
  }
}

/* story */
.sec-story {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  @include winSizeM {
    background-image: url(../img/bg_story.png);
  }
  @include winSizeS {
    background-image: url(../img/bg_story_sp.png);
  }
}
.sec-story__inner {
  @include winSizeM {
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 1040px;
  }
  @include winSizeS {
    padding: 10vw;
  }
}
.sec-story__title {
  text-align: center;
  @include winSizeM {
    flex: 1;
  }
  @include winSizeS {
    padding-block: 1.5em;
  }
}
.sec-story__txt {
  letter-spacing: 0.05em;
  line-height: $lineHeight;
  @include winSizeM {
    flex: 1;
    padding-inline: 2rem;
  }
  > p:not(:last-child) {
    margin-bottom: 1em;
  }
}

/* Character */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInName {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  80% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInChar {
  0% {
    left: -5%;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
    left: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.sec-character {
  position: relative;
}
.sec-character__title {
  @include winSizeM {
    position: absolute;
    left: 50%;
    top: 10%;
  }
  @include winSizeS {
    padding: 0.5em;
    text-align: center;
  }
}
#character-list {
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bottom: 10%;
  --swiper-pagination-color: #{$accentColor2};
  --swiper-pagination-bullet-inactive-color: #{$accentColor1};
  --swiper-pagination-bullet-width: 100px;
  --swiper-pagination-bullet-height: 100px;
  @include winSizeS {
    --swiper-pagination-bullet-width: 20vw;
    --swiper-pagination-bullet-height: 20vw;
    --swiper-pagination-bottom: 0;
  }
  .character__thumbs {
    width: auto;
    z-index: 1;
    @include winSizeM {
      position: absolute;
      left: 50%;
    }
    @include winSizeS {
      position: relative;
    }
  }
  .character__thumb {
    position: relative;
    padding: 3px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    max-width: 100px;
    max-height: 100px;
    transition: all 0.3s;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      height: 100%;
      background-color: rgba($color: $black, $alpha: 0.5);
      transition: all 0.3s;
    }
    &.swiper-pagination-bullet-active {
      &::after {
        opacity: 0;
      }
    }
    &:hover {
      background-color: $accentColor2;
      &::after {
        opacity: 0;
      }
    }
  }
  .character__thumb-img {
    width: 100%;
    background-color: $baseColor;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}
.character__box {
  overflow: hidden;
  visibility: hidden;
  &.swiper-slide-active {
    visibility: visible;
  }
}
// .character__shadow {
//   position: absolute;
//   top: -2.8%;
//   left: 0;
//   display: inline-block;
//   opacity: 0;
//   .swiper-slide-active & {
//     animation: fadeIn 1s ease-out 1s 1 normal forwards;
//   }
//   img {
//     transition: transform .3s ease-out;
//     @include winPortrait {
//       @include objectFit($w: 100vh, $h: 165.5vw, $of: cover);
//       object-position: 43% 0;
//     }
//     @include winLandscape {
//       width: 100%;
//     }
//   }
// }
.character__img {
  position: relative;
  left: -5%;
  display: inline-block;
  opacity: 0;
  @include winSizeM {
    width: 50%;
    height: 100dvh;
  }
  @include winSizeS {
    padding-inline: 10vw;
  }
  .swiper-slide-active & {
    animation: slideInChar 1s ease-out 0s 1 normal forwards;
  }
  picture {
    width: 100%;
    @include winSizeM {
      height: 100dvh;
    }
  }
  img {
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    @include winSizeM {
      height: 100%;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #341506;
    background: linear-gradient(
      0deg,
      rgba(52, 21, 6, 1) 0,
      rgba(52, 21, 6, 0) 70%
    );
  }
}
.character__name {
  opacity: 0;
  @include winSizeM {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: auto;
    height: 10vw;
  }
  @include winSizeS {
    display: block;
    width: 100%;
    height: 15vw;
    text-align: center;
  }
  .swiper-slide-active & {
    animation: slideInName 0.5s ease-out 0.3s 1 normal forwards;
  }
  img {
    position: relative;
    display: inline-block;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-out;
    @include winSizeS {
      top: -15vw;
    }
  }
}
.character__profile {
  opacity: 0;
  transition: transform 0.3s ease-out;
  @include winSizeM {
    position: absolute;
    left: 50%;
    top: calc(10% + 7rem);
    width: 50%;
  }
  @include winSizeS {
    margin-top: -10vw;
    padding: 0 10vw 4vw;
  }
  .swiper-slide-active & {
    animation: fadeIn 0.5s ease-in 0.8s 1 normal forwards;
  }
}
.character__txtName {
  display: inline-block;
  position: relative;
  padding-left: 1.3em;
  margin-bottom: 3rem;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 300;
  background-image: url(../img/icon_spade.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  &::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $accentColor2;
  }
}
.character__vo {
  font-size: 60%;
}
.character__text {
  position: relative;
  margin-bottom: 1rem;
  > p {
    letter-spacing: 0.05em;
    line-height: $lineHeight;
    &:not(:last-child) {
      margin-bottom: 0.8em;
    }
  }
}
.character__music {
  padding-left: 1.6em;
  cursor: pointer;
  background: url(../img/icon_music.svg) 0 0 no-repeat;
  background-size: contain;
  line-height: 1.5;
  white-space: nowrap;
}

/* Trailer */
.sec-trailer {
  position: relative;
  background-image: url(../img/bg_trailer.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.sec-trailer__title {
  position: absolute;
  place-self: center;
  inset: 0;
  @include winSizeM {
    transform: translateY(-20vw);
  }
  @include winSizeS {
    transform: translateY(-35vw);
  }
}
.movie {
  position: absolute;
  place-self: center;
  inset: 0;
  aspect-ratio: 16 / 9;
  border: 1px solid $accentColor1;
  padding: 2px;
  @include winSizeS {
    width: 80vw;
  }
  @include winSizeM {
    width: 50vw;
  }
}
.movie__item {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Gallery */
.sec-gallery {
  position: relative;
}
.gallery__bg01 {
  position: absolute;
  top: 2%;
  left: 0;
  background-image: url(../img/bg_gallery_01.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  @include winPortrait {
    width: 70vw;
    height: 50vw;
  }
  @include winLandscape {
    width: 36.82%;
    height: 50%;
  }
}
.gallery__bg02 {
  position: absolute;
  top: 20%;
  right: 0;
  background-image: url(../img/bg_gallery_02.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  @include winPortrait {
    width: 68vw;
    height: 50vw;
  }
  @include winLandscape {
    width: 36.05%;
    height: 50%;
  }
}
.sec-gallery__title {
  position: absolute;
  place-self: center;
  inset: 0;
  @include winSizeM {
    transform: translateY(-23vw);
  }
  @include winSizeS {
    transform: translateY(-30vw);
  }
}
#gallery-main {
  --swiper-navigation-sides-offset: -50px;
  .swiper-navigation-icon {
    display: none;
  }
}
.gallery {
  position: absolute;
  place-self: center;
  inset: 0;
  border: 1px solid $accentColor1;
  padding: 2px;
  @include winSizeM {
    width: 62.5%;
  }
  @include winSizeS {
    width: 80%;
  }
}
.gallery__item {
  position: relative;
}
.gallery__img {
  @include objectFit;
}
.gallery__button {
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
  @include winPortrait {
    width: 5.2vw;
    height: 7.8667vw;
  }
  @include winLandscape {
    width: 24px;
    height: 36px;
  }
  &::before,
  &::after {
    display: none;
  }
}
.gallery__button--next,
.gallery__button--prev {
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
.gallery__button--next {
  background-image: url(../img/arw_next.svg);
}
.gallery__button--prev {
  background-image: url(../img/arw_prev.svg);
}

.galleryThumbsWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.galleryThumbs__item {
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $accentColor1;
    mix-blend-mode: color;
    z-index: 1;
    transition: all 0.3s;
  }
  &.swiper-slide-thumb-active {
    &::after {
      opacity: 0;
    }
  }
}
.galleryThumbs__img {
  @include objectFit;
}

// .scroll {
// 	position: absolute;
// 	left: 50%;
// 	bottom: 0;
// 	transform: translateX(-50%);
// 	width: 100%;
// 	height: 40vh;
// 	padding-top: 34vh;
// 	font-size: 1.4rem;
// 	text-align: center;
// 	text-transform: uppercase;
// 	color: #dedede;
// 	background: url(../img/scroll_bg.png) center bottom no-repeat;
// 	background-size: cover;
// 	&::before, &::after {
// 		content: '';
// 		position: absolute;
// 		top: 80%;
// 		width: 20px;
// 		height: 1px;
// 		background-color: #dedede;
// 	}
// 	&::before {
// 		left: calc(50% - 20px);
// 		transform: rotate(45deg);
// 		transform-origin: right bottom;
// 	}
// 	&::after {
// 		left: 50%;
// 		transform: rotate(-45deg);
// 		transform-origin: left bottom;
// 	}
// }

// /* navi */
// .gnav {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	z-index: 1;
// 	&__button {
// 		position: absolute;
// 		left: 5.6vw;
// 		top: 7.8vw;
// 		width: 4.6vw;
// 		height: 3.5vw;
// 		z-index: 1;
// 		@include winLandscape {
// 			display: none;
// 		}
// 	}
// 	&__buttonBar {
// 		position: absolute;
// 		left: 0;
// 		display: block;
// 		width: 100%;
// 		height: 1px;
// 		transition: .2s;
// 		&:first-child {
// 			top: 0;
// 			transform-origin: bottom left;
// 			.is-open & {
// 				transform: rotate(45deg);
// 			}
// 		}
// 		&:nth-child(2) {
// 			top: 50%;
// 			transform: translateY(-50%);
// 			.is-open & {
// 				opacity: 0;
// 			}
// 		}
// 		&:last-child {
// 			bottom: 0;
// 			transform-origin: top left;
// 			.is-open & {
// 				transform: rotate(-45deg);
// 			}
// 		}
// 	}
// 	&__list {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		height: 100vh;
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: center;
// 		text-transform: uppercase;
// 		@include winPortrait {
// 			left: -85vw;
// 			width: 85vw;
// 			padding-left: 12vw;
// 			border-right: 3px solid $accentColor2;
// 			background-color: #262425;
// 			font-size: 2.5rem;
// 			transition: left .3s ease-in;
// 			.is-open + & {
// 				left: 0;
// 			}
// 		}
// 		@include winLandscape {
// 			width: 218px;
// 			background: url(../img/menu_bg.png) 0 0 no-repeat;
// 			background-size: 100% 100%;
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				top: 50%;
// 				left: 23px;
// 				transform: translateY(-50%);
// 				display: block;
// 				width: 1px;
// 				height: 370px;
// 				background-image: linear-gradient(to bottom, rgba(85,85,85,0) 0%,rgba(85,85,85,1) 50%,rgba(85,85,85,0) 100%);
// 				z-index: 0;
// 			}
// 		}
// 	}
// 	&__menu {
// 		@include winPortrait {
// 			margin: 0.5em 0;
// 		}
// 		@include winLandscape {
// 			margin: 1em 0;
// 		}
// 	}
// 	&__menu-link {
// 		position: relative;
// 		transition: .2s;
// 		font-weight: bold;
// 		@include winLandscape {
// 			display: block;
// 			padding-left: 40px;
// 			background: url(../img/menu_icon.png) 10px center no-repeat;
// 			background-size: 27px;
// 			font-size: 1.4rem;
// 			&:hover, .is-active & {
// 				padding-left: 50px;
// 				background-image: url(../img/menu_icon_current.png);
// 				&::before,&::after {
// 					content: '';
// 					position: absolute;
// 					top: 50%;
// 					display: block;
// 					height: 1px;
// 				}
// 				&::before {
// 					left: 0;
// 					width: 10px;
// 					background-image: linear-gradient(to right, rgba(85,85,85,1) 0%,rgba(85,85,85,.95) 100%);
// 					z-index: -1;
// 				}
// 				&::after {
// 					left: 37px;
// 					width: 8px;
// 					background-color:rgba(85,85,85,.9);
// 				}
// 			}
// 		}
// 		&:hover, .is-active & {
// 			color: $accentColor2;
// 			text-shadow: $textShadowL;
// 		}
// 	}
// 	&__menu-text {
// 		position: relative;
// 		display: inline-block;
// 		@include winLandscape {
// 			&::after {
// 				content: '';
// 				position: absolute;
// 				top: 50%;
// 				left: 100%;
// 				display: block;
// 				width: 0;
// 				height: 1px;
// 				background-image: linear-gradient(to right, rgba(85,85,85,.9) 0%,rgba(85,85,85,0) 100%);
// 				transition: .2s;
// 				.gnav__menu-link:hover &, .is-active & {
// 					width: 130px;
// 				}
// 			}
// 		}
// 	}
// }

// /* section */
// .section {
// 	position: relative;
// 	&__title {
// 		color: $accentColor2;
// 		text-transform: uppercase;
// 		text-shadow: $textShadowL;
// 		font-size: 3rem;
// 		line-height: $titleLineHeight;
// 		&--trailer {
// 			position: absolute;
// 			top: 50%;
// 			left: 50%;
// 			@include winPortrait {
// 				transform: translate(-50%,calc(-50% - 30vw));
// 			}
// 			@include winLandscape {
// 				transform: translate(-50%,calc(-50% - 15vw));
// 			}
// 		}
// 		&--gallery {
// 			@include winLandscape {
// 				position: relative;
// 				padding-left: 21%;
// 				&::before {
// 					content: '';
// 					position: absolute;
// 					top: 50%;
// 					left: 0;
// 					display: block;
// 					width: calc(21% - 30px);
// 					height: 1px;
// 					background-color: $accentColor2;
// 				}
// 			}
// 		}
// 		&--character {
// 			@include winPortrait {
// 				margin-bottom: 2.5rem;
// 				padding: 0 8vw;
// 			}
// 			@include winLandscape {
// 				position: absolute;
// 				top: 50%;
// 				left: 50%;
// 				z-index: 2;
// 			}
// 		}
// 		&--scenario {
// 			@include winLandscape {
// 				padding: 0 40px;
// 			}
// 		}
// 		&--mudabanashi {
// 			text-align: center;
// 		}
// 	}
// }

// /* Trailer */
// .trailer {
// 	height: 100vh;
// 	position: relative;
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	@include winPortrait {
// 		background-image: url(../img/trailer_bg_sp.png);
// 	}
// 	@include winLandscape {
// 		background-image: url(../img/trailer_bg.png);
// 	}
// }
// .movie {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%,-50%);
// 	@include winPortrait {
// 		width: 83vw;
// 		height: calc(83vw * 0.5625);
// 	}
// 	@include winLandscape {
// 		width: 41vw;
// 		height: calc(41vw * 0.5625);
// 	}
// 	&::before, &::after {
// 		content: '';
// 		position: absolute;
// 		top: -3px;
// 		left: -3px;
// 		display: block;
// 	}
// 	&::before {
// 		width: 1px;
// 		height: calc(100% + 6px);
// 		background-image: linear-gradient(to bottom, #c2475f 0%,#835860 100%);
// 	}
// 	&::after {
// 		width: calc(100% + 6px);
// 		height: 1px;
// 		background-image: linear-gradient(to right, #c2475f 0%, #616161 100%);
// 	}
// 	&__inner {
// 		height: 100%;
// 		&::before, &::after {
// 			content: '';
// 			position: absolute;
// 			bottom: -3px;
// 			right: -3px;
// 			display: block;
// 		}
// 		&::before {
// 			width: 1px;
// 			height: calc(100% + 6px);
// 			background-image: linear-gradient(to top,#616161 0%, #616161 100%);
// 		}
// 		&::after {
// 			width: calc(100% + 6px);
// 			height: 1px;
// 			background-image: linear-gradient(to left,#616161 0%, #835860 100%);
// 		}
// 	}
// 	&__item {
// 		position: relative;
// 		width: 100%;
// 		height: 100%;
// 	}
// }

// /* Gallery */
// .gallery {
// 	position: relative;
// 	@include winPortrait {
// 		padding: 24vw 8vw 0;
// 	}
// 	@include winLandscape {
// 		padding: 140px 0 0;
// 	}
// 	&__bg01 {
// 		position: absolute;
// 		top: 2%;
// 		left: 0;
// 		background-image: url(../img/haze1.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 70vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 36.82%;
// 			height: 50%;
// 		}
// 	}
// 	&__bg02 {
// 		position: absolute;
// 		top: 20%;
// 		right: 0;
// 		background-image: url(../img/haze2.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 68vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 36.05%;
// 			height: 50%;
// 		}
// 	}
// 	&__main-wrapper {
// 		position: relative;
// 		margin: 2.5rem auto 3rem;
// 		padding: 3px;
// 		@include winSizeM {
// 			width: 58%;
// 		}
// 		&::before, &::after {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 		}
// 		&::before {
// 			width: 1px;
// 			height: 100%;
// 			background-image: linear-gradient(to bottom, #c2475f 0%,#835860 100%);
// 		}
// 		&::after {
// 			width: 100%;
// 			height: 1px;
// 			background-image: linear-gradient(to right, #c2475f 0%, #616161 100%);
// 		}
// 	}
// 	&__main {
// 		position: relative;
// 		&::before, &::after {
// 			content: '';
// 			position: absolute;
// 			bottom: -3px;
// 			right: -3px;
// 			display: block;
// 		}
// 		&::before {
// 			width: 1px;
// 			height: calc(100% + 6px);
// 			background-image: linear-gradient(to top,#616161 0%, #616161 100%);
// 		}
// 		&::after {
// 			width: calc(100% + 6px);
// 			height: 1px;
// 			background-image: linear-gradient(to left,#616161 0%, #835860 100%);
// 		}

// 	}
// 	&__main-item {
// 		position: relative;
// 		padding-top: 56.25%;
// 	}
// 	&__main-img {
// 		@include objectFit;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 	}
// 	&__button {
// 		background-size: 100%;
// 		background-position: 0 0;
// 		background-repeat: no-repeat;
// 		z-index: 1;
// 		@include winPortrait {
// 			width: 5.2vw;
// 			height: 7.8667vw;
// 		}
// 		@include winLandscape {
// 			width: 24px;
// 			height: 36px;
// 		}
// 		&::before,&::after {
// 			display: none;
// 		}
// 		&--next {
// 			background-image: url(../img/arrow_right.png);
// 			@include winPortrait {
// 				right: -4.5vw;
// 			}
// 			@include winLandscape {
// 				right: -52px;
// 			}
// 		}
// 		&--prev {
// 			background-image: url(../img/arrow_left.png);
// 			@include winPortrait {
// 				left: -4.5vw;
// 			}
// 			@include winLandscape {
// 				left: -52px;
// 			}
// 		}
// 	}
// 	&__thumbs {
// 		> .swiper-wrapper {
// 			transition-timing-function: linear;
// 		}
// 	}
// 	&__thumbs-item {
// 		position: relative;
// 		cursor: pointer;
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 100%;
// 			background-color: #ccc;
// 			mix-blend-mode: color;
// 			z-index: 1;
// 		}
// 	}
// 	&__thumbs-img {
// 		@include objectFit;
// 	}
// }

// /* Character */
// @keyframes fadeIn {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }
// @keyframes slideInName {
// 	0% {
// 		transform: translateX(-50%);
// 		opacity: 0;
// 	}
// 	80% {
// 		transform: translateX(0);
// 		opacity: 0.5;
// 	}
// 	100% {
// 		transform: translateX(0);
// 		opacity: 1;
// 	}
// }
// @keyframes slideInChar {
// 	0% {
// 		left: -5%;
// 		opacity: 0;
// 	}
// 	80% {
// 		opacity: .5;
// 		left: 0;
// 	}
// 	100% {
// 		left: 0;
// 		opacity: 1;
// 	}
// }
// .character {
// 	position: relative;
// 	@include winPortrait {
// 		margin-top: 40vw;
// 	}
// 	@include winLandscape {
// 		margin-top: 140px;
// 	}
// 	&__bg01 {
// 		position: absolute;
// 		left: 0;
// 		background-image: url(../img/haze3.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			top: -10vw;
// 			width: 65vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			top: 0;
// 			width: 30.31%;
// 			height: 50%;
// 		}
// 	}
// 	&__bg02 {
// 		position: absolute;
// 		top: 46%;
// 		right: 0;
// 		background-image: url(../img/haze4.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 60vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 26.46%;
// 			height: 50%;
// 		}
// 	}
// 	&__bg03 {
// 		position: absolute;
// 		top: 80%;
// 		left: 0;
// 		background-image: url(../img/haze5.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 65vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 30.31%;
// 			height: 50%;
// 		}
// 	}
// 	&__box {
// 		overflow: hidden;
// 		visibility: hidden;
// 		&.swiper-slide-active {
// 			visibility: visible;
// 		}
// 	}
// 	&__shadow {
// 		position: absolute;
// 		top: -2.8%;
// 		left: 0;
// 		display: inline-block;
// 		opacity: 0;
// 		.swiper-slide-active & {
// 			animation: fadeIn 1s ease-out 1s 1 normal forwards;
// 		}
// 		img {
// 			transition: transform .3s ease-out;
// 			@include winPortrait {
// 				@include objectFit($w: 100vh, $h: 165.5vw, $of: cover);
// 				object-position: 43% 0;
// 			}
// 			@include winLandscape {
// 				width: 100%;
// 			}
// 		}
// 		&--urushigami,&--kirino,&--shinonoi,&--konatsu {
// 			img {
// 				@include winPortrait {
// 					object-position: 50% 0;
// 				}
// 			}
// 		}
// 	}
// 	&__img {
// 		position: relative;
// 		left: -5%;
// 		display: inline-block;
// 		opacity: 0;
// 		.swiper-slide-active & {
// 			animation: slideInChar 1s ease-out 0s 1 normal forwards;
// 		}
// 		img {
// 			transition: transform .3s ease-out;
// 			@include winPortrait {
// 				@include objectFit($w: 100vh, $h: 165.5vw, $of: cover);
// 				object-position: 43% 0;
// 			}
// 			@include winLandscape {
// 				width: 100%;
// 			}
// 		}
// 		&--urushigami,&--kirino,&--shinonoi,&--konatsu {
// 			img {
// 				@include winPortrait {
// 					object-position: 50% 0;
// 				}
// 			}
// 		}
// 	}
// 	&__name {
// 		position: absolute;
// 		display: inline-block;
// 		opacity: 0;
// 		@include winPortrait {
// 			top: 20vw;
// 			left: 8vw;
// 			width: 33.33333%;
// 		}
// 		@include winLandscape {
// 			top: 15%;
// 			left: 17.4%;
// 			width: 14.42708%;
// 		}
// 		.swiper-slide-active & {
// 			animation: slideInName .5s ease-out .3s 1 normal forwards;
// 		}
// 		img {
// 			width: 100%;
// 			transition: transform .3s ease-out;
// 		}
// 	}
// 	&__profile {
// 		position: relative;
// 		opacity: 0;
// 		@include winPortrait {
// 			margin-top: -10vw;
// 			padding: 0 8vw;
// 		}
// 		@include winLandscape {
// 			position: absolute;
// 			top: 10%;
// 			left: 60%;
// 			width: 25%;
// 			transition: transform .3s ease-out;
// 		}
// 		.swiper-slide-active & {
// 			animation: fadeIn .5s ease-in .8s 1 normal forwards;
// 		}
// 	}
// 	&__text-box {
// 		position: relative;
// 		padding: 2.5rem 0 1.5rem;
// 		@include winLandscape {
// 			min-width: 250px;
// 		}
// 		&::before {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 30%;
// 			height: 2px;
// 			background-color: $accentColor2;
// 		}
// 	}
// 	&__text {
// 		letter-spacing: .05em;
// 		line-height: 1.5;
// 		white-space: nowrap;
// 		&:not(:last-child) {
// 			margin-bottom: .8rem;
// 		}
// 		@include winPortrait {
// 			font-size: 1.4rem;
// 		}
// 		@include winLandscape {
// 			font-size: 1.5rem;
// 			@media (min-width:1500px) {
// 				font-size: 1.8rem;
// 			}
// 		}
// 	}
// 	&__text-cover {
// 		position: relative;
// 		display: inline-block;
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			display: block;
// 			width: 100%;
// 			height: 1.3em;
// 		}
// 		&--over {
// 			@extend .character__text-cover;
// 			&::after {
// 				top: -0.3em;
// 				width: 70%;
// 			}
// 		}
// 	}
// 	&__text-img {
// 		width: 100%;
// 		&--pc {
// 			@include winPortrait {
// 				display: none;
// 			}
// 		}
// 		&--sp {
// 			@include winLandscape {
// 				display: none;
// 			}
// 		}
// 	}
// 	&__voice-button {
// 		cursor: pointer;
// 		background: url(../img/voice_button.png) 0 0 no-repeat;
// 		background-size: 100%;
// 		@include winPortrait {
// 			position: absolute;
// 			bottom: 110%;
// 			right: 8vw;
// 			width: 12vw;
// 			height: 12vw;
// 		}
// 		@include winLandscape {
// 			width: 40px;
// 			height: 40px;
// 		}
// 	}
// 	&__thumbs {
// 		width: auto !important;
// 		z-index: 1;
// 		@include winPortrait {
// 			position: relative;
// 			margin-top: 8vw;
// 			padding: 0 8vw 15vw;
// 		}
// 		@include winLandscape {
// 			top: calc(50% + 60px);
// 			left: calc(50% + 50px) !important;
// 			bottom: auto !important;
// 		}
// 	}
// 	&__thumb {
// 		position: relative;
// 		transform: rotate(-45deg);
// 		background-color: transparent;
// 		border-radius: 0;
// 		overflow: hidden;
// 		opacity: 1 !important;
// 		@include winPortrait {
// 			width: 16vw;
// 			height: 16vw;
// 			margin: 0 0 0 -3vw !important;
// 			&:nth-child(even) {
// 				transform: translateY(13vw) rotate(-45deg);
// 			}
// 		}
// 		@include winLandscape {
// 			width: 87px;
// 			height: 87px;
// 			margin: 0 0 0 -22px !important;
// 			&:nth-child(even) {
// 				transform: translateY(66px) rotate(-45deg);
// 			}
// 		}
// 		&.swiper-pagination-bullet-active {
// 			&::after {
// 				content: '';
// 				position: absolute;
// 				top: 3px;
// 				left: 3px;
// 				display: block;
// 				width: 100%;
// 				height: 100%;
// 				background-color: $accentColor2;
// 				opacity: 0.2;
// 				z-index: -1;
// 			}
// 		}
// 		&:hover {
// 			&::after {
// 				content: '';
// 				position: absolute;
// 				top: 3px;
// 				left: 3px;
// 				display: block;
// 				width: 100%;
// 				height: 100%;
// 				background-color: $accentColor2;
// 				opacity: 0.2;
// 				z-index: -1;
// 			}
// 			.character__thumb-img {
// 				opacity: 0;
// 				&--act {
// 					opacity: 1;
// 				}
// 			}
// 		}
// 	}
// 	&__thumb-img {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		width: 140%;
// 		height: 140%;
// 		transform: translate(-50%,-50%) rotate(45deg);
// 		transition: opacity .2s;
// 		.swiper-pagination-bullet-active & {
// 			opacity: 0;
// 		}
// 		&--act {
// 			@extend .character__thumb-img;
// 			opacity: 0;
// 			.swiper-pagination-bullet-active & {
// 				opacity: 1;
// 			}
// 		}
// 	}
// }

// /* Scenario */
// .scenario {
// 	background: $baseColor url(../img/scenario_bg.png) center center no-repeat;
// 	background-size: 100%;
// 	@include winPortrait {
// 		padding: 33vw 8vw;
// 		background-size: 300%;
// 		background-position: 60% center;
// 	}
// 	@include winLandscape {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		height: 50vw;
// 		padding: 120px 0;
// 	}
// 	&__text-box {
// 		@include winPortrait {
// 			margin-top: 2.5rem;
// 		}
// 		@include winLandscape {
// 			padding: 0 40px;
// 		}
// 	}
// 	&__text {
// 		margin-bottom: 1.5em;
// 		letter-spacing: .1em;
// 		@include winPortrait {
// 			font-size: 1.5rem;
// 		}
// 		@include winLandscape {
// 			font-size: 1.6rem;
// 		}
// 	}
// 	&__text-em {
// 		color: $accentColor2;
// 		font-size: 125%;
// 	}
// }

// /* Mudabanashi */
// .mudabanashi {
// 	position: relative;
// 	&__bg01 {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		background-image: url(../img/haze6.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 67vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 30.73%;
// 			height: 50%;
// 		}
// 	}
// 	&__bg02 {
// 		position: absolute;
// 		top: 85%;
// 		right: 0;
// 		background-image: url(../img/haze7.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 65vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 31.25%;
// 			height: 50%;
// 		}
// 	}
// 	background: url(../img/mudabanashi_bg.png) right center no-repeat;
// 	background-size: auto 70%;
// 	@include winPortrait {
// 		padding: 24vw 8vw;
// 	}
// 	@include winLandscape {
// 		padding: 140px 0;
// 	}
// }
// .twitter {
// 	position: relative;
// 	display: flex;
// 	margin-top: 2.5rem;
// 	@include winPortrait {
// 		flex-direction: column;
// 	}
// 	@include winLandscape {
// 		justify-content: center;
// 	}
// 	&__box {
// 		overflow: hidden;
// 		@include winPortrait {
// 			margin-bottom: 1rem;
// 			&:first-child {
// 				height: 128vw;
// 			}
// 		}
// 		@include winLandscape {
// 			width: 30%;
// 			margin: 0 12px;
// 		}
// 		&--tl {
// 			border-radius: 12px;
// 			background-color: $white;
// 			iframe {
// 				height: 100% !important;
// 			}
// 		}
// 		&--tw {
// 			.twitter-tweet {
// 				margin-top: 0 !important;
// 				margin-bottom: 0 !important;
// 			}
// 		}
// 	}
// 	&__box2 {
// 		border-radius: 8px;
// 		overflow: hidden;
// 		@include winPortrait {
// 			margin-bottom: 1rem;
// 		}
// 		@include winLandscape {
// 			margin-bottom: 5px;
// 		}
// 	}
// }

// /* Spec */
// .spec {
// 	position: relative;
// 	@include winPortrait {
// 		height: 117.333333vw;
// 	}
// 	@include winLandscape {
// 		height: 50vh;
// 	}
// 	&__bg01 {
// 		position: absolute;
// 		top: 10%;
// 		left: 0;
// 		background-image: url(../img/haze8.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 70vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 36.56%;
// 			height: 50%;
// 		}
// 	}
// 	&__bg02 {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 		background: url(../img/spec_bg.png) center center no-repeat;
// 		background-size: cover;

// 	}
// 	&__inner {
// 		position: relative;
// 		top: 50%;
// 		@include winPortrait {
// 			padding: 0 8vw;
// 		}
// 		@include winLandscape {
// 			width: 50%;
// 			left: 50%;
// 			transform: translateY(-50%);
// 			padding-left: 32px;
// 		}
// 	}
// 	&__list {
// 		display: flex;
// 		flex-wrap: wrap;
// 		margin-top: 1.5rem;
// 		padding: 2rem 3rem;
// 		border: 1px solid #6a6a6a;
// 		font-size: 1.4rem;
// 		@include winPortrait {
// 			width: 100%;
// 		}
// 		@include winLandscape {
// 			width: 450px;
// 		}
// 	}
// 	&__list-name,&__list-item {
// 		position: relative;
// 		width: 50%;
// 		padding: .5rem 2rem;
// 		white-space: nowrap;
// 	}
// 	&__list-name {
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			top: 50%;
// 			right: 0;
// 			transform: translateY(-50%);
// 			display: block;
// 			width: 1px;
// 			height: 60%;
// 			background-color: $white;
// 		}
// 	}
// 	&__logo {
// 		position: absolute;
// 		@include winPortrait {
// 			top: 20vw;
// 			left: 50%;
// 			transform: translateX(-50%);
// 			width: 56.5vw;
// 		}
// 		@include winLandscape {
// 			top: 50%;
// 			right: 50%;
// 			transform: translateY(-50%);
// 			width: 25%;
// 		}
// 	}
// }
// /* pagetop */
// .pagetop {
// 	position: fixed;
// 	right: 2rem;
// 	bottom: -10rem;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 6rem;
// 	height: 6rem;
// 	background-color: $black;
// 	transform: rotate(45deg);
// 	transition: .6s;
// 	opacity: 0;
// 	z-index: 1;
// 	&.is-showed {
// 		bottom: 2rem;
// 		opacity: 1;
// 	}
// 	&::before,&::after {
// 		content: '';
// 		position: absolute;
// 		display: block;
// 	}
// 	&::before {
// 		top: -2px;
// 		left: -2px;
// 		width: 1px;
// 		height: 100%;
// 		background-color: #c2475f;
// 	}
// 	&::after {
// 		bottom: 2px;
// 		left: -2px;
// 		width: 100%;
// 		height: 1px;
// 		background: linear-gradient(to right, rgba(194,71,95,1) 0%,rgba(97,97,97,1) 50%,rgba(97,97,97,1) 100%);
// 	}
// 	&__box {
// 		display: block;
// 		&::before,
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			display: block;
// 		}
// 		&::before {
// 			top: -2px;
// 			right: 2px;
// 			width: 100%;
// 			height: 1px;
// 			background: linear-gradient(to right, rgba(194,71,95,1) 0%,rgba(97,97,97,1) 50%,rgba(97,97,97,1) 100%);
// 		}
// 		&::after {
// 			top: -2px;
// 			right: 2px;
// 			width: 1px;
// 			height: 100%;
// 			background-color: #616161;
// 		}
// 	}
// 	&__text {
// 		position: relative;
// 		display: flex;
// 		color: $accentColor2;
// 		letter-spacing: .2em;
// 		line-height: 1;
// 		font-size: 1.2rem;
// 		font-weight: bold;
// 		transform: rotate(-45deg);
// 		&::before {
// 			content: '';
// 			position: absolute;
// 			bottom: 105%;
// 			left: 50%;
// 			display: block;
// 			width: 1.3rem;
// 			height: 1.3rem;
// 			border-left: 1px solid $accentColor2;
// 			border-top: 1px solid $accentColor2;
// 			transform: rotate(45deg);
// 			transform-origin: left top;
// 		}
// 	}
// }
// /* footer */
// .footer {
// 	position: relative;
// 	background: url(../img/kiku.png) left bottom no-repeat;
// 	@include winPortrait {
// 		height: 88vw;
// 		background-size: 50%;
// 	}
// 	@include winLandscape {
// 		height: 60vh;
// 		background-size: 25%;
// 	}
// 	&__bg01 {
// 		position: absolute;
// 		top: 10%;
// 		left: 0;
// 		background-image: url(../img/haze9.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 68vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 36.30%;
// 			height: 50%;
// 		}
// 	}
// 	&__bg02 {
// 		position: absolute;
// 		top: 30%;
// 		right: 0;
// 		background-image: url(../img/haze10.png);
// 		background-repeat: no-repeat;
// 		background-position: 0 0;
// 		background-size: 100% auto;
// 		@include winPortrait {
// 			width: 58vw;
// 			height: 50vw;
// 		}
// 		@include winLandscape {
// 			width: 25.05%;
// 			height: 50%;
// 		}
// 	}
// }
// /* contact */
// .contact {
// 	position: absolute;
// 	left: 50%;
// 	transform: translate(-50%,-50%);
// 	display: flex;
// 	font-size: 1.8rem;
// 	@include winPortrait {
// 		top: 50%;
// 		flex-direction: column;
// 		font-size: 3rem;
// 	}
// 	@include winLandscape {
// 		top: 70%;
// 	}
// 	&__title {
// 		position: relative;
// 		padding-right: 2em;
// 		&::before {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: -1.5em;
// 			display: block;
// 			width: 2px;
// 			height: 100%;
// 			background-color: $accentColor2;
// 		}
// 	}
// }

// /* JS, Animation */
// .js-parallax01,.js-parallax02 {
// 	transition: .2s;
// }
// .anime-hide01, .anime-hide02{
// 	display: block;
// 	opacity: 0;
// 	@include winPortrait {
// 		transform: translateY(10vh);
// 	}
// 	@include winLandscape {
// 		transform: translateY(50px);
// 	}
// }
// @include winPortrait {
// 	@keyframes scrollUpFadeIn {
// 		from {
// 			opacity: 0;
// 			transform: translateY(10vh);
// 		}
// 		to {
// 			opacity: 1;
// 			transform: translateY(0);
// 		}
// 	}
// }
// @include winLandscape {
// 	@keyframes scrollUpFadeIn {
// 		from {
// 			opacity: 0;
// 			transform: translateY(50px);
// 		}
// 		to {
// 			opacity: 1;
// 			transform: translateY(0);
// 		}
// 	}
// }
// .anime-show01 {
// 	display: block;
// 	opacity: 0;
// 	animation: scrollUpFadeIn .5s ease-out 0s 1 normal forwards;
// 	@include winPortrait {
// 		transform: translateY(10vh);
// 	}
// 	@include winPortrait {
// 		transform: translateY(50px);
// 	}
// }
// .anime-show02 {
// 	opacity: 0;
// 	animation: scrollUpFadeIn .5s ease-out .5s 1 normal forwards;
// 	@include winPortrait {
// 		transform: translateY(10vh);
// 	}
// 	@include winPortrait {
// 		transform: translateY(50px);
// 	}
// }
// .header .anime-hide02,
// .header .anime-show02 {
// 	display: block;
// }
// .trailer .anime-hide02,
// .trailer .anime-show02{
// 	width: 100%;
// 	height: 100%;
// }
